.Button {
  background-color: #ffd54f;
  border: #ffd54f;
  border-radius: 5px;
  color: black;
  font-size: 12pt;
  font-weight: 600;
  padding: .5rem 1rem;
  box-shadow: 0 5px #c8a415;
}

.Button:hover {
  background-color: #ffff81;
  box-shadow: 0 5px #ffd54f;
  cursor: pointer;
}

.Button:active {
  background-color: #ffff81;
  box-shadow: none;
  transform: translateY(5px);
}