/* header {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

h1 {
  text-align: center;
}

.h1Link {
  color: black;
  font-family: 'Rubik', sans-serif;
}

nav {
  height: 2rem;
  width: 100vw;
  background-color: #009a00;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > * {
  padding: 0 1rem;
  color: white;
}

.Header__Link {
  text-decoration: none;
}

.Header__span___usersName {
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 0 calc((100vw - 768px)/2);
  }
}