@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFF3;
}

:root {
  --font-size: calc(10px + 1vmin);
}

a {
  text-decoration: none;
  font-weight: 600;
  color:white;
}

a:hover {
  font-style: italic;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

.italic {
  font-style: italic;
}

a.italic:hover {
  font-style: none;
}

.bold {
  font-weight: 600;
}

.green {
  color: green;
}

.red {
  color: red;
}

/* adds focus outline that mozilla doesn't have */
a:focus, input:focus, button:focus {
  outline: auto 5px #00CC00;
  box-shadow: 0;
  cursor: pointer;
}

.mobile___longButton {
  width: 80%;
}

@media screen and (min-width: 426) {
  .mobile___longButton {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .mobile___longButton {
    width: auto;
  }
}